@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

/* 
 * font-family: Source Sans Pro 
 */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #404040ff;
}

.wrapper {
	width: 100%;
}

header {
	position: fixed;
	z-index: 100;
	top: 0;
	overflow: auto;
	width: 100%;
	padding: 1.2em 2em;
	background-color: #1a1e24ff;
	-webkit-box-shadow: 0 -2px 20px #404040ff;
	box-shadow: 0 -2px 20px #404040ff;
}

header img {
	float: left;
}

header nav {
	font-size: 1.2em;
	float: right;
	padding-right: 3.5em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

header nav ul li {
	display: inline-block;
	padding-left: 2em;
	padding-top: 0.1em;
}

header a {
	text-decoration: none;
	color: #efefef;
}

header a:hover {
	color: #fff;
}

div.main {
	margin-top: 4.5em;
}

.text-center {
	overflow: auto;
	max-width: 40em;
	margin: 0 auto;
	text-align: center;
}

.image-container img {
	height: 600px;
}

.image-container {
	float: left;
}

.text-container {
	margin-left: 17em;
	text-align: left;
}

.text-container h1 {
	font-family: Roboto, sans-serif;
	font-size: 3em;
	font-weight: normal;
	line-height: 1.4;
	padding: .75em 0;
	text-transform: uppercase;
	color: red;
}

.text-container p {
	font-size: 1.2em;
	line-height: 1.6;
}

.content-area {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: -100px;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.content-container {
	font-size: 1.5em;
	position: relative;
	max-width: 28em;
	margin: auto;
	padding-top: 130px;
	color: #fff;
}

footer{
	margin: 0 auto;
	overflow: auto;
	background-color: #ED1C24FF;
	color: #000;
}
.our-team,.social-icons,.locations,.links{
	overflow: auto;
	float: left;
	width: 20.2%;
	padding: 2em;
}
footer h2{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid #fff;
	text-align: center;

}
footer a{
	color: #fff;
	text-decoration: none;
}
.our-team a.team-link{
	display: block;
	margin-top: 1em;
}
.social-icons ul{
	margin:  0 auto;
	text-align: center;
}
.social-icons ul li{
	display: inline-block;
	font-size: 2em;
	margin: 0 0.2em;
}
.social-icons ul li a:hover,.links nav a:hover{
	color: #FFB2B2FF;
}

.locations article{
	margin-bottom: 1em;
}

.links nav{
	padding: 0;
	width: 100%
}
.links nav ul li{
	padding-bottom: 0.5em;
	list-style-type: none;
}
.links nav ul li::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	content: '\f30b  ';
	color: #fff;
}

.author{
	text-align: center;
	border-top: 2px solid #fff;
	background-color: #efefef;
	color: #ED1C24FF;
	margin: 0 auto;
	padding: 0.5em 0;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: 0.1em;
	word-spacing: 0.5em;
}

.author a{
	text-decoration: none;
	color: darkcyan;
}

.author a::before{
	
}